services:
  cart-db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: cart
      POSTGRES_USER: user_cart
      POSTGRES_PASSWORD: pass
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user_cart -d cart"]
      interval: 5s
      timeout: 3s
      retries: 20
    networks:
      - sellio_sellio

  sellio-cart:
    build: .
    user: root
    environment:
      APP_ENV: dev
      DATABASE_URL: postgresql+asyncpg://user_cart:pass@cart-db:5432/cart
      HTTP_PORT: 8080
      GRPC_PORT: 50051
    ports:
      - "8081:8080"
      - "50052:50051"
    volumes:
      - ./app:/app/app:ro
      - generated_stubs:/app/app/grpc/generated
    depends_on:
      cart-db:
        condition: service_healthy
    command: sh -c "mkdir -p app/grpc/generated && chown -R appuser:appuser app/grpc/generated && . /opt/venv/bin/activate && touch app/grpc/generated/__init__.py && python -m grpc_tools.protoc -I app/grpc/protos --python_out=app/grpc/generated --grpc_python_out=app/grpc/generated app/grpc/protos/cart.proto && sed -i 's/import cart_pb2/from . import cart_pb2/g' app/grpc/generated/cart_pb2_grpc.py && chown -R appuser:appuser app/grpc/generated && su appuser -c '. /opt/venv/bin/activate && alembic upgrade head && uvicorn app.main:app --host 0.0.0.0 --port 8080 --reload'"
    networks:
      - sellio_sellio

volumes:
  postgres_data:
  generated_stubs:

networks:
  sellio_sellio:
    external: true