apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: sellio-cart
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: sellio-cart
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70


