apiVersion: batch/v1
kind: Job
metadata:
  name: sellio-cart-migrate
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: migrate
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: DATABASE_PRIMARY_URL
              valueFrom:
                secretKeyRef:
                  name: sellio-cart-secrets
                  key: DATABASE_PRIMARY_URL
          command: ["sh", "-lc", "alembic upgrade head"]


